<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav class="product-category-nav py-2" th:fragment="productCategoryFragment">
        <div class="container">
            <table class="category-table">
                <tr>
                    <th class="main-category active">상의</th>
                    <td><a href="#" class="category-link">전체</a></td>
                    <td><a href="#" class="category-link">맨투맨/스웨트</a></td>
                    <td><a href="#" class="category-link">후드 티셔츠</a></td>
                    <td><a href="#" class="category-link">셔츠/블라우스</a></td>
                    <td><a href="#" class="category-link">긴소매 티셔츠</a></td>
                    <td><a href="#" class="category-link">반소매 티셔츠</a></td>
                    <td><a href="#" class="category-link">피케/카라 티셔츠</a></td>
                    <td><a href="#" class="category-link">니트/스웨터</a></td>
                    <td><a href="#" class="category-link">민소매 티셔츠</a></td>
                    <td><a href="#" class="category-link">기타 상의</a></td>
                </tr>
            </table>
        </div>
    </nav>
</html>